*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
width: 100%;
height: 100%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.page1 {
    width: 100%;
    height: 40px;
    background-color: rgba(39, 32, 87, 0.922);
}


#uppermost {
width: 100%;
/* height: px;  */
display: flex;
justify-content: space-between;
padding-left: 12%;
padding-right: 17%;
padding-top: 10px;
}

#uppwemost,
p {
font-size: 15px;
font-weight: 400;
color: white;
opacity: 0.9;
}

#uppermost2, icone{
font-size: 14px;
font-weight: 400;
 opacity: 0.9;
color: rgb(255, 255, 255);
}


#white {
display: flex;
justify-content: space-between;
padding-left: 12%;
padding-right: 17%;
background-color: rgb(255, 255, 255);
width: 100%;
height: 45px;
}

#white h4 {
font-size: 8px;
margin-top: 18px;

}

#white h1 {
font-size: 22px;
margin-top: 11px;

}

.bg-imagepart {
width: 100%;
position: relative; 
height: 400px;
filter: blur(5px);
  -webkit-filter: blur(5px);
  background-size: cover;
  /* border-radius: 32px solid rgb(177, 10, 10); */
  background-position: center;
background-image: url(https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.bg-center{
font-size: 75px;
  /* border: 2px solid rgb(255, 255, 255);  */
  border-radius: 34px;
color: rgb(20, 13, 67);
font-weight: 700;
position: absolute;
top: 35%;
left: 35%;
transform: translate(-50, -50);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* z-index: 555; */

}

.bg-center2{
    font-size: 20px;
    color: rgb(20, 13, 67);
    position: absolute;
    top: 50%;
    left: 40%;
    
    transform: translate(-50, -50);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blue2{
  padding-top: 15px;
  padding-left: 140px;
  padding-right: 17%;
width: 100%;
height: 110px;
background-color: rgba(39, 32, 87, 0.922);

}
#whiteblue{
font-size: 19px;
margin-bottom: 4px;
margin-top: 8px;
font-weight: 100;
color: rgb(255, 255, 255);
opacity: 0.9;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#para{
display: flex;
font-size: 15px;
margin-top: 7px;
justify-content: space-between;
/* margin-right: 2332px; */
padding-right: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

pq{
font-size: 80%;
padding-right: 90px;
color: white;
opacity: 0.6;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
width: 90px;
font-size: 9px;
border-radius: 5px;
border-color: white;
back;ground-color: rgb(255, 255, 212);
/* box-shadow: 0 8px 16px 0 rgba(255, 255, 45, 0.489), 0 6px 20px 0 rgba(255, 255, 44, 0.42); */
}


.longwhite{
width: 100%;
height: 550px;
background-color: rgb(255, 255, 255);
padding-left: 11%;
padding-right: 11%;
padding-top: 52px;

}

h4{
  
  color: rgba(39, 32, 87, 0.922);
  font-size: 35px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

pw{
font-size: 13px;
/* padding-top: 33%; */
font-weight: 400;

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.profile-container{
 display: flex; 

 width: 100%;
 height: auto;

/* flex-direction: row; */
flex-wrap: wrap;

}

.boxx{
  width: 250px;
  height: 120px;
   border: 1px solid black;
   margin-top: 40px; 
   position: relative;
}
.icons {
  margin-top: 20px;
margin-left: 10px;
}

.icons> i {
  background-color: rgb(29, 6, 52);
  font-size: 30px;
  color: white;
  border-radius: 50px;
  padding: 10px;
  
  
}
.boxx2{
display: flex; 
}

h6 {
  padding-left: 25px;
  padding-right: 5px;
  padding-top: 20px;
  font-size: 6px;
}

h2{
font-size: 16px;
padding-top: 35px;
padding-left: 10px;
}
